<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link href="../Testes/static/form.css" rel="stylesheet" type="text/css">
</head>
<body>
  <form>
    <h1>Fancy Text Inputs</h1>
    <div class="question">
      <input type="text" required/>
      <label>First Name</label>
    </div>
    <div class="question">
      <input type="text" required/>
      <label>Last Name</label>
    </div>
    <div class="question">
      <input type="text" required/>
      <label>Email Address</label>
    </div>
    <div class="question">
      <input type="text" required/>
      <label>Email Confirm</label>
    </div>
    <button>Submit</button>
  </form>

</body>
</html>