.cabecalho {
	     position: relative;
         font-family: "Montserrat";
         text-align: left;
         font-size: 1.5em;
         border-style: solid;
         border-width: 2px;
         margin-top: 40px;
         margin-right: 40px;
         margin-left: 40px;
         padding: 20px;
         background-color: white;


}

span{
        font-family: "Montserrat";
        font-size: 1.2em;
}
body {
        overflow-x:hidden;
        background: linear-gradient(150deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 34%, rgba(0,99,65,1) 100%);


}
.body{
	position: absolute;
	top: 10px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	transform: scaleX(-1);
	width: 500px;
	height: 950px;
    background:transparent url("../starbucks1.png");
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-filter: blur(3px);
	z-index: 0;
}



img {
        width: 10%;
        height: auto;
        background:transparent url(starbucks.png);
}

.col-sm h1{
        text-shadow: 2px 2px 5px green;
}
.col-sm img{
        width: auto;
	    height:100px;
	    position: absolute;
	    top: calc(50% - 49px);
  	    left: calc(50% - 220px);


}
.column {
  float: left;
  padding: 10px;
  height: 400px;
  border-style: solid;
  border-width: 2px;
  margin-top: 100px;
  margin-right: 30px;
  margin-left: 30px;
  background-color: white;
/* Should be removed. Only for demonstration */
}

.right {
    position:relative;
    width: 30%;
    border-radius: 30px;
    background-color: #f2f2f2;
    padding: 10px;
    height: 700px;
}

.left{
    position: relative;
    width: 50%;
    border-radius: 30px;
    padding-left: 10px;
    padding-top: 10px;
    height: 700px;

}

.middle {
    position: absolute;
    text-align:center;
    margin-left:540px;
    margin-top:50px;
    width: 50%;
    height: 750px;
    position: relative;
    border-radius: 30px;
    padding-top: 10px;


}

.:after {
  content: "";
  display: table;
  clear: both;
}


.left h2{
        font-family: "Montserrat";
        text-align: center;
        font-size: 2em;
}

.middle h2{
        font-family: "Montserrat";
        text-align: center;
        font-size: 2em;
}

.right h2{
        font-family: "Montserrat";
        text-align: center;
        font-size: 2em;
}


input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.left form {
    position: relative;
  border-radius: 5px;
  padding-bottom: 1px;
  height: 300px;

}
.left button{
    font-family: "Montserrat";
    background-color: rgba(0,99,65,1);
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: solid;
    border-radius: 13px;
    border-width: 2px;
    cursor: pointer;

}
.left table{
        font-family: "Montserrat";
        font-size: 1em;

}
.left input{
        border-style: solid;
        border-width: 2px;
        border-color: rgba(0,99,65);
}

.left a{
        font-family: "Montserrat";
        font-size: 1em;
        padding-left: 10px;
}

.middle .espresso img {
    position: absolute;
    top: 10%;
    left: 0%;

}
.middle .espresso .qtd{
        position: absolute;
        top: 20%;
        text-align: center;
        width: 10%;

}

.middle .espresso .btn_espresso {
  position: absolute;
  top: 20%;
  left: 6%;
  background-color: #555;
  opacity: 0.8;
  color: white;
  font-size: 16px;
  padding: 10px 24px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  text-align: left;
}
.middle pre{
        text-align:left;
        font-family: "Montserrat";
        margin-left:185px;
}

.espresso .btn:hover {
  background-color: green;
}

.middle .torta .btn_torta {
  position: absolute;
  top: 20%;
  left: 42%;
  background-color: #555;
  opacity: 0.8;
  color: white;
  font-size: 16px;
  padding: 10px 24px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  text-align: left;
}

.espresso .btn:hover {
  background-color: green;
}

.nme_funcionario pre{
	     position: relative;
         font-family: "Montserrat";
         text-align: right;
         font-size: 1.5em;
         color: white;
         padding-right: 60px;
         padding-top: 0px;

}

.right .btn_valor_total{
    position: absolute;
    top: 90%;
    left: 3%;
}
.right p{
    position: absolute;
    top: 90%;
    left: 20%;
}
.right .btn_cadastra{
    position: absolute;
    top: 90%;
    left: 50%;
}

.right table{
        font-family: "Montserrat";
        font-size: 15px;
        border-spacing: 20px;
        border-collapse: separate;
}
.right button{
    font-family: "Montserrat";
    background-color: rgba(0,99,65,1);
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: solid;
    border-radius: 13px;
    border-width: 2px;
    cursor: pointer;

}
.right .msg_erro{
        margin-top: 5px;
        color: red;
        font-family: 'Exo', sans-serif;
        font-size: 16px;
        font-weight: 600;
        padding: 5px;
}
.central {
         float: center;
         padding-top: 10px;
         height: 600px;
         border-style: solid;
         border-width: 2px;
         margin-top: 70px;
         margin-right: 400px;
         margin-left: 400px;
         background-color: white;
         border-radius: 100px;
}

.middle .imgespresso{
	position: absolute;
	top: 50px;
	left: 130px;
	right: -40px;
	bottom: 0px;
	max-width:245px;
    max-height:150px;
    width: auto;
    height: auto;
    background:transparent url("../espresso.png");
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 0;
}
.middle .imgtorta{
	position: absolute;
	top: 0px;
	left: 380px;
	right: -40px;
	bottom: 0px;
	max-width:200px;
    max-height:180px;
    width: auto;
    height: auto;
    background:transparent url("../torta.png");
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 0;
}
.middle .imgagua{
	position: absolute;
	top: 50px;
	left: 600px;
	right: -40px;
	bottom: 0px;
	max-width:200px;
    max-height:160px;
    width: auto;
    height: auto;
    background:transparent url("../agua.png");
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 0;
}
.middle .imgcookie{
	position: absolute;
	top: 270px;
	left: 415px;
	right: -40px;
	bottom: 0px;
	max-width:140px;
    max-height:140px;
    width: auto;
    height: auto;
    background:transparent url("../cookie.png");
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 0;
}
.middle .prod_nme2 pre{
        text-align: center;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
}

.middle input{

    margin-right: 20px;
    margin-left: 20px;
    margin-top: 140px;
    position: relative;


}
.middle .pagar{

    font-family: "Montserrat";
    background-color: rgba(0,99,65,1);
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: none;
    border-radius: 13px;
    cursor: pointer;

}
.middle .relatoriobtn {
        font-family: "Montserrat";
    background-color: rgba(145, 146, 161, 0.71);
    margin-left: 700px;
    margin-top: 140px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: none;
    border-radius: 13px;
    cursor: pointer;
}

.middle .relatorio p{
        font-family: "Montserrat";
        text-align: left;
        font-size: 40px;
        border-spacing: 20px;
        border-collapse: separate;
}