<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/loginNovo.css" rel="stylesheet" type="text/css">
	<link rel="icon" type="image/png" href="../static/starbucks1.png">
    <title>Starbucks</title>
</head>
<body>
		<div class="banner">
			<video autoplay muted loop poster="VideoSTAR.mp4" class="bg_video">
    			<source src="../static/bucksvid.mp4" type="video/mp4">
			</video>
		</div>
	<form class="box" action="/login" method="post">
		<img src="../static/starbucks1.png" width="80px" height="80px">
		<input type="text" placeholder="user" name="username" value autocomplete="off" required>
		<input type="password" placeholder="password" name="password" required>
		<input type="submit" value="Login">
	</form>
</body>
</html>