<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../static/starbucks1.png">
    <link href="../static/css/format.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Starbucks</title>
</head>
<body>

    <div class="cabecalho">
      <div class="row">
        <div class="col-sm" style="text-align: bottom">
            <p><span id="datetime"></span></p>
        </div>
        <div class="col-sm" style="text-align: center">
           <h1>STARBUCKS</h1>
            <img src="static/starbucks1.png" class="img-fluid" >
        </div>
        <div class="col-sm" style="text-align: right">
          <span id="time_span"></span>
        </div>
      </div>
    </div>



    <div class="row">
        <div class="column left">
        <h2>Informações do Cliente</h2>
         <form action="/incluir/" method="post">
           <p>
               Nome:
               <input type="text" name="nome_cliente" placeholder="Nome do cliente..."/>
           </p>
           <p>
               Endereço:
               <input type="text" name="endereco_cliente" placeholder="Endereço do cliente..."/>
           </p>
           <p>
               Número:
               <input type="text" name="numero_cliente" placeholder="Número do cliente..."/>
           </p>
           <p>
               CPF:
               <input type="text" name="cpf_cliente" placeholder="CPF do cliente..."/>
           </p>
           <p>
               <input type="submit" value="Salvar"/>
           </p>
       </form>
          <div class = "nme_funcionario"><p> Logado como: {{ nome_funcionario | safe }}</p>
          </div>
          <a href="/">Logout</a>
      </div>


      <div class="column right">
        <h2>Nota Fiscal</h2>

      </div>
    </div>



    <script type = "text/javascript" src="static/js/hora.js"></script>
    <script>
        var dt = new Date();
        document.getElementById("datetime").innerHTML = (("0"+(dt.getDate())).slice(-2)) +"/"+ (("0"+(dt.getMonth()+1)).slice(-2)) +"/"+ (dt.getFullYear());</script>
    <script>
        var dt = new Date();
        document.getElementById("hora").innerHTML = dt.toLocaleTimeString();</script>



    <script>
        function addItemEspresso(){
            var li = document.createElement("LI");
            var input = document.getElementById("espresso");
            li.innerHTML = input.value;


            document.getElementById("resultado").appendChild(li);
        }
    </script>
    <script>
        function addItemTorta(){
            var li = document.createElement("LI");
            var input = document.getElementById("torta");
            li.innerHTML = input.value;


            document.getElementById("resultado").appendChild(li);
        }
    </script>
    <script>
         function PrintaTotal(){
            var lista = document.getElementById("resultado").getElementsByTagName("li");
            var qtd_lista = lista.length
            document.getElementById("qtd_lista").innerHTML = qtd_lista;
         }
    </script>

</body>
</html>