<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../static/starbucks1.png">
    <link href="../static/css/pagar.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Compra Realizada!</title>
</head>
<body>
<div class="body"></div>
		<div class="grad"></div>
    <div class="cabecalho">
      <div class="row">
        <div class="col-sm" style="text-align: bottom">
            <p><span id="datetime"></span></p>
        </div>
        <div class="col-sm" style="text-align: center">
           <img src="../static/starbucks-wide.png">
        </div>
        <div class="col-sm" style="text-align: right">
          <span id="time_span"></span>
        </div>
      </div>
    </div>

<div class = "nme_funcionario"><pre> Logado como: {{ nome_funcionario | safe }} <a href="/">Logout</a></pre>
</div>

      <div class="column central">
        <h1>Compra Realizada com sucesso!</h1>
        <h2>Informações da compra:</h2>
        <p>Nome do Cliente {{nme | safe }}</p>
        <p>Nome do Funcionário: {{nome_funcionario | safe }}</p>
        <p>Valor da compra: {{vlr_token | safe }} Tokens</p>

          <button onclick="voltaduas()">Nova Compra</button>
      </div>

<script type = "text/javascript" src="static/js/hora.js"></script>
    <script>
        var dt = new Date();
        document.getElementById("datetime").innerHTML = (("0"+(dt.getDate())).slice(-2)) +"/"+ (("0"+(dt.getMonth()+1)).slice(-2)) +"/"+ (dt.getFullYear());</script>
    <script>
        var dt = new Date();
        document.getElementById("hora").innerHTML = dt.toLocaleTimeString();</script>
<script>
function voltaduas() {
  window.history.go(-2);
}
</script>
</body>
</html>