<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/teste.css" rel="stylesheet" type="text/css">

    <title>Title</title>
</head>
<body>
    <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div><img src="../static/starbucks-wide.png"><span></span></div>
		</div>
		<br>
	<form action="/login" method="post">
		<div class="login">
				<input type="text" placeholder="  user" name="username" value autocomplete="off" required><br>
				<input type="password" placeholder="  senha" name="password" required><br>
				<input type="submit" value="Login">
		</div>
	</form>
</body>
</html>